<% include ../partials/header %>

<h1 class="center"> Edit <%=blog.title%> </h1>
<form action="/blogs/<%=blog._id%>?_method=PUT" method="POST" class="center">
    <div class="form-group">
        <label for="Title">Title:</label>
        <input type="text" class="form-control" name = "title" value="<%=blog.title%>" placeholder="Title"/>
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" class="form-control" name = "description" value="<%=blog.description%>" placeholder="Description"/>
    </div>
    <div class="form-group">
        <label for="Image">Image</label>
        <input type="text" class="form-control" name = "image" value ="<%=blog.image%>" placeholder="Image URL"/>    
    </div>
    
    <button class="btn btn-warning"> Edit Blog</button>
</form>


<% include ../partials/footer %>