<h1><%= blog.title %></h1>

<img src="<%=blog.image%>" /> <br>
<em> - Created by <strong> <%=blog.author.username%> </strong></em> <br>
<p><%= blog.description%></p>
<p><%= blog.date.toDateString() %> </p>
<a href= "/blogs/<%=blog._id%>/edit"> Edit Post </a>
<form action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
    <button>Delete Blog</button>
</form>

<h2> Comments </h2>

<a href ="/blogs/<%=blog._id%>/comments/new"> Add new comment </a> <br>

    <% blog.comments.forEach(function(comment){ %>
            <strong> <%= comment.author.username %></strong> - <%= comment.text %>  
            <a href= "/blogs/<%=blog._id%>/comments/<%=comment._id%>/edit"> Edit </a> 
            <form action= "/blogs/<%=blog._id%>/comments/<%=comment._id%>?_method=DELETE" method="post">
                <button>Delete </button>
            </form> <br>
    <% }); %>

