<% include ./partials/header %>



<% blogs.forEach(function(blog){ %>
    <div class="well center clearfix">
        <h2><%= blog.title %></h2>
        <img class="img-responsive" src="<%=blog.image%>" />
        <p><em>- by <%= blog.author.username %> on <%= blog.date.toDateString() %></em></p>
        <p><%= blog.description.substr(0,100)+"......"  %></p>
        <a href="/blogs/<%= blog._id%>">Read more.. </a>
    </div>
<% }); %>

<% include ./partials/footer %>